@mixin container {
  max-width: 1280px;
  min-width: 1024px;
  margin: 0 auto;
  padding-left: calc(#{$main-size * 12});
  padding-right: calc(#{$main-size * 12});
}

@mixin a-reset {
  text-decoration: none;
  color: inherit;
}

@mixin link($color: $gray, $active-color: $white) {
  &:hover {
    color: lighten($color, 20%);
  }

  &:focus {
    border-bottom: 1px solid $color;
  }

  &--active {
    @include no-select;
    color: $active-color;
  }
}

@mixin no-select {
  user-select: none;
  pointer-events: none;

  &:focus {
    border-bottom: 0;
  }
}
