.favorites-link {
  @include a-reset;
  @include link;
  font-size: 16px;
  line-height: 28px;
  color: $gray;

  &__icon {
    width: 16px;
    height: 14px;
    margin-left: $size-x2;
    fill: $gray;
    transform: translateY(2px);
    transition: color $A;
  }

  &:hover &__icon {
    fill: lighten($gray, 20%);
  }

  &--active &__icon {
    fill: $white;
  }
}
