.main-header {
  min-height: 100px;
  padding-top: $size-x7;
  background-color: $bg-black;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.55);

  &__container {
    @include container;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
