.page {
  min-height: 100vh;
  font-family: $regular;
  font-size: $main-font-size;
  letter-spacing: 0.01em;
  color: $white;

  &__header {
    margin-bottom: $size-x10;
  }

  &__nav {
    margin-bottom: $size-x10;
  }
}
